{% load i18n %}
<!-- Footer Start -->
<footer id="main-footer" class="pt-5 mt-5 bg-dark text-white px-3">
    <div class="container mx-auto">
        <div class="row">
            <div class="col mb-3 p-0">
                <h5>{% trans 'Sivukartta'%}</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="/privacy">{% trans 'Tietosuojaseloste'%}</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'courses'%}">{% trans 'Kurssit'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'payments' %}">{% trans 'Maksutavat'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'about' %}">{% trans 'Meistä'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'cars' %}">{% trans 'Autot'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'contact' %}">{% trans 'Yhteydenotto'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'conditions' %}">{% trans 'Vuokraehdot'%}</a>
                    </li>                    
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="{% url 'faq' %}">{% trans 'FAQ'%}</a>
                    </li>                    
                </ul>
            </div>

            <div class="col mb-3 p-0">
                <h5>{% trans 'Aukioloajat'%}</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <span>{% trans "Ma-Pe"%}&nbsp&nbsp&nbsp9-17</span>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <span>{% trans "La"%}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10-16</span>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <span>{% trans "Su"%}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspsuljettu</span>
                    </li>
                </ul>
            </div>

            <div class="col mb-3 p-0">
                <h5>{% trans 'Sosiaalinen media' %}</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="#"><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                    </li>

                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="#" target="_blank"><i class="fa fa-instagram mr-1"></i> Instagram</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="#" target="_blank"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                    </li>
                </ul>
            </div>

            <div class="col mb-3 p-0">
                <h5>{% trans 'Ota yhteyttä'%}</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <span><i class="fa fa-phone mr-1"></i> +358 445-45-54</span>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <span><i class="fa fa-envelope mr-1"></i>  some@example.com</span>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2 mt-2">
                        <h5><i class="fas fa-map-marker-alt mr-2"></i>{% trans "Osoite" %}</h5>
                        <a href="https://goo.gl/maps/tvLkAxR7R3zQYQyy9" target="_blank">00200 Helsinki Some katu 32 B</a>
                    </li>
                </ul>
            </div>
        </div>
            
        <div class="row mt-3">
            <div class="col p-0">
                <p class="copyright">Copyright &copy; <span id="year"></span> LDS</p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->