{% load i18n %}
<!-- Navbar Start-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">LDS</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li 
                    {% if '/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/" class="nav-link"><i class="fas fa-home pr-1"></i>  {% trans "Etusivu" %}</a>
                </li>


                <!-- <li 
                    {% if '/about' == request.path %}
                       class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/about" class="nav-link">{% trans "Meistä"%}</a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-info-circle pr-1"></i>  {% trans "Palvelut" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'courses' %}">{% trans "Kurssit" %}</a>
                        <a class="dropdown-item" href="{% url 'cars' %}">{% trans "Autot" %}</a>
                        <a class="dropdown-item" href="{% url 'conditions' %}">{% trans "VUOKRAUSEHDOT" %}</a>
                    </div> 
                </li>
                <!--  drop down -->

                <!-- <li 
                    {% if '/services' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/services" class="nav-link">{% trans "Palvelut" %}</a> 
                </li> -->
                <!-- <li 
                    {% if '/courses/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/courses" class="nav-link">{% trans "Kurssit" %}</a> 
                </li> -->

                <!-- <li 
                    {% if '/news' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/news" class="nav-link">{% trans "Uutiset" %}</a>
                </li> -->

                <li 
                    {% if '/contact' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/contact" class="nav-link"><i class="fas fa-id-card pr-1"></i>  {% trans "Yhteydenotto" %}</a>
                </li>

                <!-- <li 
                    {% if '/cars/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="{% url 'cars' %}" class="nav-link">{% trans "Autot" %}</a>
                </li> -->

                <!-- <li 
                    {% if '/conditions' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="{% url 'conditions' %}" class="nav-link">{% trans "VUOKRAUSEHDOT" %}</a>
                </li> -->
                
                <!-- VUOKRAUSEHDOT -->


                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Autot" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'private' %}">{% trans "Omaan käyttöön" %}</a>
                        <a class="dropdown-item" href="{% url 'business' %}">{% trans "Taxi" %}</a>
                    </div> 
                </li> -->
                <!-- drop down -->

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-sliders-h pr-1"></i>  {% trans "Dashboard" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">{% trans "Profiili" %}</a>
                            <a class="dropdown-item" href="{% url 'rentals' %}">{% trans "Vuokrat" %}</a>
                            <a class="dropdown-item" href="{% url 'enrolls' %}">{% trans "Kurssit" %}</a>
                        </div>
                    </li>
                    <li 
                        {% if '/logout' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt pr-1"></i>  {% trans "Ulos" %}</a> 
                        <!-- <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt fa-2x"></i></a>   -->
                    </li>
                {% else %}
                    <li 
                        {% if '/login' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt pr-1"></i>  {% trans "Kirjaudu" %}</a> 
                    </li>
                    <li 
                        {% if '/register' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'register' %}" class="nav-link"><i class="fas fa-plus-circle pr-1"></i>{% trans "Rekisteröidy" %}</a> 
                    </li>
                {% endif %}
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe fa-2x"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <button type="submit" name="language" value="{{ language.code }}"
                                class="btn dropdown-item btn-outline-secondary">
                                {{ language.name_local }}
                            </button>
                        {% endfor %}
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

