{% load i18n %}
<!-- Navbar Start-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">LDS</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li 
                    {% if '/' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/" class="nav-link">{% trans "Etusivu" %}</a>
                </li>
                <li 
                    {% if '/about' == request.path %}
                       class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/about" class="nav-link">{% trans "Meistä"%}</a>
                </li>
                <li 
                    {% if '/services' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/services" class="nav-link">{% trans "Palvelut" %}</a> 
                </li>
                <li 
                    {% if '/news' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/news" class="nav-link">{% trans "Uutiset" %}</a>
                </li>
                <li 
                    {% if '/contact' == request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item" 
                    {% endif %}
                >
                    <a href="/contact" class="nav-link">{% trans "Yhteydenotto" %}</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Autot" %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'private' %}">{% trans "Omaan käyttöön" %}</a>
                    <a class="dropdown-item" href="{% url 'business' %}">{% trans "Taxi" %}</a>
                    <a class="dropdown-item" href="{% url 'van' %}">{% trans "Pakettiauto" %}</a>
                </li>

                {% if user.is_authenticated %}
                    <li 
                        {% if '/logout' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'logout' %}" class="nav-link">{% trans "Kirjaudu ulos" %}</a> 
                    </li>
                {% else %}
                    <li 
                        {% if '/login' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'login' %}" class="nav-link">{% trans "Kirjaudu" %}</a> 
                    </li>
                    <li 
                        {% if '/register' == request.path %}
                            class="nav-item active"
                        {% else %}
                            class="nav-item" 
                        {% endif %}
                    >
                        <a href="{% url 'register' %}" class="nav-link">{% trans "Rekisteröidy" %}</a> 
                    </li>
                {% endif %}
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-globe fa-2x"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <button type="submit" name="language" value="{{ language.code }}"
                                class="btn dropdown-item btn-outline-secondary">
                                {{ language.name_local }}
                            </button>
                        {% endfor %}
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

