{% load i18n %}
<!-- Showcase Slider -->

<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">    
            <div class="carousel-item carousel-image-1 active main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">{% trans "Heading One" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="{% url 'register' %}" class="btn btn-danger btn-lg">{% trans "Sign up mow"%}</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2 main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-5">{% trans "Heading Two" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="" class="btn btn-primary btn-lg">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-3 main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-5">{% trans "Heading Three" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="" class="btn btn-succes btn-lg">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>
        

            <div class="carousel-item carousel-image-4 main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-5">{% trans "Heading Three" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="" class="btn btn-succes btn-lg">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>

            
            <div class="carousel-item carousel-image-5 main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-5">{% trans "Heading Three" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="" class="btn btn-succes btn-lg">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-6 main-carousel">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-5">{% trans "Heading Three" %}</h1>
                        <p class="lead">
                            {% trans "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat veniam id nam, modi provident quas quam vero eaque quaerat aliquam." %}
                        </p>
                        <a href="" class="btn btn-succes btn-lg">{% trans "Learn more" %}</a>
                    </div>
                </div>
            </div>

            

        

        
        
        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>
