{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container pb-5 mb-5">
        <div class="row ">
        <div class="col-md-6 mx-auto">
            <div class="card card-body bg-light mt-5">
            <h1>Change your password</h1>
            <form class="form-horizontal" method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label}}: <sup>*</sup></label>
                            <input 
                                class="form-control {% if field.errors%} is-invalid {% endif %}" 
                                id="{{ field.id_for_label }}" 
                                maxlength="30" 
                                name="{{ field.html_name }}" 
                                type="password" 
                                /> 
                            <div class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                    </div>  <!-- end from-group  -->
                    {% endfor %}
                    <div class="row">
                        <div class="col">
                            <input type="submit" class="btn btn-success btn-block" value="change password"/>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>        
                    </div>
                </form>
            </div> <!-- card body -->
        </div> <!-- col -->
    </div> <!-- row -->
</div>  <!-- container end  -->
{% endblock %}