{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body bg-light mt-5">
            <h1>{{ form.non_field_errors }}</h1>
            
            
          <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <h2>{% trans 'Contact us'%}</h2>
            <p>
                {% trans 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, natus? '%}
            </p>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-user"></i>
                  </span>
              </div>
                {{ form.name }}
            </div>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </span>
              </div>
                {{ form.phone_number}}
            </div>
            
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-envelope-open-o"></i>
                  </span>
              </div>
              {{ form.email}}
            </div>

            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope-open-o"></i>
                  </span>
              </div>
                {{ form.message }}
            </div>
            <input type="submit" value={% trans "Submit" %} class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}