{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container pb-5 mb-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card card-body bg-light mt-5">
            <!-- from messages  -->
            <!-- {% include 'partials/_alerts.html' %} -->
            <!-- from form validation  -->
            {% include 'partials/_formError.html' %}

              <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <h2>{% trans 'Ota yhteyttä'%}</h2>
            <p>
                {% trans 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, natus? '%}
            </p>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-user"></i>
                  </span>
              </div>
                {{ form.name }}
            </div>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-phone"></i>
                  </span>
              </div>
                {{ form.phone_number}}
            </div>
            
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-envelope-open-o"></i>
                  </span>
              </div>
              {{ form.email}}
            </div>

            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-comment"></i>
                  </span>
              </div>
                {{ form.message }}
            </div>
            <input type="submit" value="{% trans 'Lähetä' %}" class="btn btn-success btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}