{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- Showcase Slider -->
{% include 'partials/_slider.html' %}
    <!-- Home icon section -->

<section id="home-icons" class="py-5">
<!-- <section id="home-icons" class="py-5 d-none d-xl-block d-lg-block d-md-block"> -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-taxi fa-3x mb-2"></i>
                <h1 class="icon-header">{% trans "Rent car for TAXI" %}</h1>
                <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-shuttle-van fa-3x mb-2"></i>
                <h1 class="icon-header">{% trans "Rent VAN" %}</h1>
                <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-book-reader fa-3x mb-2"></i>
                <h1 class="icon-header">{% trans "GET TAXI lupa"%}</h1>
                <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}</p>
            </div>
        </div>
    </div>
</section>

<!-- HOME HEADING SECTION -->

<section id="home-heading" class="p-5 d-none d-xl-block d-lg-block d-md-block">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5 text-warning">
                    <h1>
                        {% trans "Haluatko vuokrata taksi-auton?" %}
                    </h1>
                    <p class="d-none d-md-block">
                        {% trans "Katso vuokraehdot ja juuri sinulle sopiva taxi auto meiltä edullisesti." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info Taxi -->

<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1 class="icon-header">{% trans "Taxi autot" %}</h1>
                <p>
                    {% trans "Taxi autot kuvaus meiltä löydät juuri sinulle sopiva autot. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}
                </p>
                <a href="{% url 'cars'%}" class="btn btn-outline-warning btn-lg">{% trans "Vuokraa taxi" %}</a>
            </div>
            <div class="col-md-6 d-none d-md-block car">
                <img src="{% static 'img/taxi1.png'%}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- VIDEO PLAY -->

<!-- <section id="video-play">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container p-5">
                    <a href="" class="video" 
                        data-video="https://www.youtube.com/embed/WG8y2KBH0xY"
                        data-toggle="modal"
                        data-target="#videoModal"
                    ><i class="fa fa-play fa-3x"></i>
                    </a>
                    <h1>{% trans "Sea What We Do" %}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
 -->

 <!-- header kurssi  -->
<section id="home-heading" class="p-5 d-none d-xl-block d-lg-block d-md-block">
    <div class="white-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1 class="text-info">
                        {% trans "Hanki taxi-lupa kurssit?" %}
                    </h1>
                    <p class="d-none d-md-block text-dark">
                        {% trans "Katso kurssin sisältö. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info Kurssi  -->
<section id="info" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1 class="icon-header">{% trans "Taxi lupa kurssit" %}</h1>
                <p>
                    {% trans "Katso kaikki taxi kurssit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}
                </p>
                <a href="{% url 'courses' %}" class="btn btn-outline-info btn-lg">{% trans "Kurssit" %}</a>
            </div>
            <div class="col-md-6 d-none d-md-block car">
                <img src="{% static 'img/kurssi_1.jpg'%}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Header Private leasing  -->
<section id="home-heading" class="p-5 d-none d-xl-block d-lg-block d-md-block">
    <div class="white-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1 class="text-dark">
                        {% trans "Private leasing?" %}
                    </h1>
                    <p class="d-none d-md-block text-dark">
                        {% trans "Private leasing. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- info Private leasing -->
<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1 class="icon-header">{% trans "Private leasing" %}</h1>
                <p>
                    {% trans "Private leasing. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, esse." %}
                </p>
                <a href="{% url 'cars' %}" class="btn btn-outline-info btn-lg">{% trans "Vuokraa auto" %}</a>
            </div>
            <div class="col-md-6 d-none d-md-block car">
                <img src="{% static 'img/prius1.jpg'%}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>


<!-- PHOTO GALLERY-->

<section id="gallery" class="py-5 d-none d-xl-block d-lg-block d-md-block">
    <div class="container">
        <h1 class="text-center">{% trans "Photo Gallery" %}</h1>
        <p class="text-canter">{% trans "Check out our photos" %}</p>
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/560x560" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="560"
                    data-width ="560"
                >
                        <img src="https://source.unsplash.com/random/560x560" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/561x561" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="561"
                    data-width ="561"
                >
                        <img src="https://source.unsplash.com/random/561x561" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a  href="https://source.unsplash.com/random/562x562" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="562"
                    data-width ="562"
                >
                        <img src="https://source.unsplash.com/random/562x562" alt="" class="img-fluid">
                </a>
            </div>
        </div>
        <!-- row 2-->
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/563x563" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="563"
                    data-width ="563"
                >
                        <img src="https://source.unsplash.com/random/563x563" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://source.unsplash.com/random/565x565" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="565"
                    data-width ="565"
                >
                        <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a  href="https://source.unsplash.com/random/564x564" 
                    data-toggle="lightbox"
                    data-gallery="img-gallery"
                    data-height="564"
                    data-width ="564"
                >
                        <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid"> 
                </a>
            </div>
        </div>
    </div>
</section>

<!-- NEWSLETTER -->
<!-- <section id="newsletter" class="text-center py-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% trans "Sign up for our news letter" %}</h1>
                <p> 
                    {% trans 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repudiandae ad temporibus beatae iste blanditiis ut, provident alias. Illum, impedit.' %}
                </p>
                <form class="form-inline justify-content-center">
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name">
                    <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email">
                    <div class="button btn btn-primary mb-2">{% trans "Submit" %}</div>
                </form>
            </div>
        </div>
    </div>
</section>
 -->
    
{% endblock %}