{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <section id="bc" class="mt-4">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a class="text-muted" href="{% url 'index'%}">{% trans " Etusivu"%}</a></li>
                    <li class="breadcrumb-item"><a class="text-muted" href="{% url 'privacy'%}">{% trans "Tietosuojaseloste"%}</a></li>
                </ol>
            </nav>
        </div>
    </section>
    <div class="container pb-5 mb-5">
        <h5 class="mb-4">{% trans "TIETOSUOJASELOSTE"%}</h5>
        <h5>{% trans "1. REKISTERINPITÄJÄ" %}</h5>
        <p>{% trans "Nimi: LDS Oy"%}</p>
        <p>{% trans "Osoite: JokuTie 1 A 1, 00100 Helsinki"%}</p>
        <p>{% trans "Puhelinnumero: +35844 0000000"%}</p>
        <p>{% trans "Sähköpostiosoite: kati@avosorsa.com"%}</p>
        <p>{% trans "Y-tunnus:: Y-287282"%}</p>
        <h5>{% trans "3. REKISTERIN NIMI"%}</h5>
        <p>{% trans "LDS Autovuokraamon asiakastietokanta"%}</p>
        <h5>{% trans "4. HENKILÖTIETOJEN KÄSITTELYN TARKOITUS JA OIKEUSPERUSTE"%}</h5>
        <p>{% trans "Henkilötietoja kerätään tiettyä, nimenomaista ja laillista tarkoitusta varten asiakassuhteen sopimusvelvoitteiden täyttämiseksi. Rekisterinpitäjällä on oikeus harjoittaa markkinointia oikeutetun edun perusteella."%}</p>
        <p>{% trans "Henkilötietoja kerätään tämän tietosuojaselosteen mukaisesti eikä niitä missään tilanteessa käytetä, muuteta tai siirretä eri tavalla kuin tässä tietosuojaselosteessa on mainittu." %}</p>
        <h5>{% trans "5. REKISTERIN TIETOSISÄLTÖ"%}</h5>
        <p>{% trans "Asiakasrekisteriin tallennetaan asiakkaan nimi, osoite, puhelinnumero ja sähköpostiosoite."%}</p>
        <h5>{% trans "6. EVÄSTEET"%}</h5>
        <p>{% trans "Rekisterinpitäjän kotisivuilla on käytössä kolmannen osapuolen sivustoanalytiikka- ja markkinointijärjestelmä (Google Analytics). Järjestelmä kerää kävijöistä evästeiden avulla tietoa, jota ei kuitenkaan käytetä yksittäisten käyttäjien tunnistamiseen, vaan kotisivujen ja palveluiden kehittämiseen. Google Analytics välittää ja säilyttää tiedot omalla palvelimellaan."%}</p>
        <h5>{% trans "7. SÄÄNNÖNMUKAISET TIETOLÄHTEET"%}</h5>
        <p>{% trans "Rekisteriin kerätään tietoja rekisteröidyltä itseltään ja asiakkaiden sekä sidosryhmien lähteistä. Lisäksi rekisteriin kerätään tietoja julkisista lähteistä, kuten yritysten yhteystiedoista verkkosivuilta tai osoiterekistereistä."%}</p>
        
        <h5>{% trans "8. TIETOJEN SÄÄNNÖNMUKAISET LUOVUTUKSET"%}</h5>
        <p>{% trans "Tarvittavia asiakastietoja voidaan luovuttaa laillisiin käyttötarkoituksiin viranomaisille. Rekisterinpitäjä ei luovuta tietoja kolmansille osapuolille tai automaattisesti muille kumppaneille. Rekisterinpitäjä luovuttaa yksittäistapauksessa asiakkaan tiedot osoitetulle osapuolelle, jos asianomainen pyytää rekisterinpitäjää toimimaan edellä mainitulla tavalla tai jos lainsäädäntöön perustuen lainvoimainen viranomainen vaatii rekisterinpitäjää luovuttamaan erikseen yksilöidyn tiedon rekisterinpitäjän hallussa olevasta tietokannasta."%}</p>
        
        <h5>{% trans "9. TIETOJEN SIIRTO KOLMANTEEN MAAHAN TAI KANSAINVÄLISELLE JÄRJESTÖLLE"%}</h5>
        <p>{% trans "Tietoja ei siirretä kolmanteen maahan tai kansainväliselle järjestölle."%}</p>
        
        <h5>{% trans "10. TARKASTUSOIKEUS"%}</h5>
        <p>{% trans "Rekisteröidyllä on oikeus tarkastaa, mitä häntä koskevia tietoja rekisteriin on tallennettu. Lisäksi hänellä on riittävän tarkan ja yksilöidyn tarkastuspyynnön tehtyään oikeus saada tietoonsa itseään koskevat ja tallenteiden sisältämät tiedot. Tarkastuspyyntö tulee osoittaa kirjallisesti, allekirjoitettuna rekisterinpitäjän yhteyshenkilölle ja liittää mukaan kopio kuvallisesta henkilötodistuksesta."%}</p>
        
        <h5>{% trans "11. OIKEUS VAATIA TIEDON KORJAAMISTA JA POISTAMISTA"%}</h5>
        <p>{% trans "Rekisterinpitäjän on korjattava asianomaisen osoittama virheellinen tieto henkilötietorekisterissä. Rekisterinpitäjällä on myös omatoimisen toiminnan kautta velvoite tarkastaa tietojen asiallisuus ja ajantasaisuus rekisterissä. Rekisteröity voi myös vaatia rekisterinpitäjää poistamaan itseään koskevat tiedot rekisteristä."%}</p>

        <h5>{% trans "12. MUUT HENKILÖTIETOJEN KÄSITTELYYN LIITTYVÄT OIKEUDET"%}</h5>
        <p>{% trans "Rekisteröidyllä on oikeus vaatia henkilötietojen käsittelyn rajoittamista. Rekisteröidyllä on myös oikeus saada häntä koskevat henkilötiedot, jotka hän on toimittanut rekisterinpitäjälle, jäsennellyssä, yleisesti käytetyssä ja koneellisesti luettavassa muodossa ja oikeus siirtää kyseiset tiedot toiselle rekisterinpitäjälle. Lisäksi rekisteröidyllä on oikeus vastustaa tietojen käsittelyä, automaattista päätöksentekoa ja profilointia."%}</p>

        <h5>{% trans "13. REKISTERÖIDYN OIKEUS TEHDÄ VALITUS VALVONTAVIRANOMAISELLE"%}</h5>
        <p>{% trans "Rekisteröidyllä on oikeus tehdä valitus toimivaltaiselle valvontaviranomaiselle, jos rekisterinpitäjä ei ole noudattanut toiminnassaan soveltuvaa tietosuojasääntelyä."%}</p>

        <h5>{% trans "14. TIETOJEN POISTAMINEN JA SÄILYTYSAIKA"%}</h5>
        <p>{% trans "Rekisterinpitäjä poistaa rekisteristä asiakkaan tiedot, kun tietojen käsitellylle ei ole enää liiketoiminnallista perustetta tai jos asianomainen itse lakiin perustuen vaatii rekisterinpitäjää poistamaan häntä koskevat tiedot."%}</p>
        <p>{% trans "Henkilötiedot tuhotaan asianmukaisesti tietosuoja huomioiden, kun tietojen käsittelylle tai säilyttämiselle ei ole enää perustetta. Tietoja ei kuitenkaan poisteta, jos laissa määrätään eri tavalla tai toimivaltainen viranomainen on käynnistänyt prosessin, joka edellyttää rekisterinpitäjää säilyttämään tietoja tai muu taho on hakenut Suomen oikeudelta turvasuojaamispäätöstä tiedoille."%}</p>

        <h5>{% trans "15. TIETOSUOJASELOSTEEN HYVÄKSYNTÄ"%}</h5>
        <p>{% trans "Tietosuojaseloste on hyväksytty jatkuvana ja tarkastettu 01.10.2018."%}</p>
    </div>  
{% endblock %}