
{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'index'%}">{% trans " Etusivu"%}</a></li>
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'cars'%}">{% trans "Vuokrat"%}</a></li>
            </ol>
        </nav>
    </div>
    <div class="container px-5 pb-5 mb-5">
        <div class="row">   
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Car'%}</th>
                    <th scope="col">{% trans 'Reg number'%}</th>
                    <th scope="col">{% trans 'Pick up location'%}</th>
                    <th scope="col">{% trans 'Start'%}</th>
                    <th scope="col">{% trans 'End'%}</th>
                    <th scope="col">{% trans 'Sum'%}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for rental in rentals %}            
                    <tr>
                        <th scope="row">{{ rental.id}}</th>
                        <td>{{ rental.car.brand }} {{ rental.car.model }} {{  rental.car.issued_year|date:"Y"}} {% trans "v."%}</td>
                        <td>{{ rental.car.reg_number}}</td>
                        <td>{{ rental.pickup_location}}</td>
                        <td>{{ rental.rental_start|date:'m-d-Y'}}</td>
                        <td>{{ rental.rental_end|date:'m-d-Y'}}</td>
                        <td>{{ rental.rental_sum}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}