
{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'index'%}">{% trans " Etusivu"%}</a></li>
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'cars'%}">{% trans "Kurssit"%}</a></li>
            </ol>
        </nav>
    </div>
    <div class="container px-5 pb-5 mb-5">  
        <div class="row">   
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% trans 'Kurssin nimi'%}</th>
                    <th scope="col">{% trans 'Alkaa'%}</th>
                    <th scope="col">{% trans 'Päättyy'%}</th>
                    <th scope="col">{% trans 'Kesto (pv)'%}</th>
                    <th scope="col">{% trans 'Hinta'%}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for enroll in enrolls %}            
                        <tr>
                            <th scope="row">{{ enroll.id}}</th>
                            <td>{{ enroll.course.title }}</td>
                            <td>{{ enroll.course.course_start|date:'d-m-Y'}}</td>
                            <td>{{ enroll.course.course_end|date:'d-m-Y' }}</td>
                            <td>{{ enroll.course.course_duration}}</td>
                            <td>{{ enroll.course.course_price}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}