{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width={device-width}, initial-scale=1.0"> -->
    
    <meta name="description" content="{% trans "LDS Autot henkilöautot, taxiautot, pikkubussin ja pakettiauton vuokraus, Autovuokraamo Helsinki, taxi kurssit, vuokraa paku" %}">
    <meta name="keywords" content="{% trans "LDS Autot, henkilöautot, taxiautot, pikkubussin ja pakettiauton vuokraus, Autovuokraamo Helsinki, taxi kurssit, vuokraa paku" %}">
    <meta name="author" content="LDS autot oy">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/619dec8ce3.js" crossorigin="anonymous" SameSite="None"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" SameSite="None" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    
    <!-- Nav Bar -->

    <div id="wrap">

        <div id="main" class="clear-top">
            {% include 'partials/_navbar.html' %}
        
            <!-- Main Content -->
            {% include 'partials/_alerts.html' %}
            {% block content %}
            {% endblock %}
        </div>
    </div>

        <!-- Footer -->
    {% include 'partials/_footer.html' %}

    

    <script
        src="//code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
        crossorigin="anonymous">
    </script>
    <script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" 
        integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" 
        crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

    {% block scripts %}
        <script>
            console.log("BASE TEMPLATE")    
            setTimeout(() => {
                $('#message').fadeOut('slow'); 
            }, 3000);
            setTimeout(() => {
                $('#form-alert').fadeOut('slow'); 
            }, 3000);

            $(document).ready(function() {

                $('.datepicker').datepicker();
                
                $('.send-form').on('click', function(event){
                    let serData = $('#enroll-form' + event.target.value).serialize()
                    event.preventDefault();
                    console.log('Send form')
                    $.ajax({
                        url : "{% url 'enroll' 1234 %}".replace(/1234/, event.target.value.toString()), 
                        type: 'post',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: serData,  
                        success: function(data) {
                            $('.enroll-validation-error').empty()   
                            $("#courseDetails" + event.target.value).modal("hide")
                        }, 
                        error: function(request, status, error) {
                            // validate that message is exist
                            let errors = ((request || {}).responseJSON || {}).message
                            if( errors) {
                                for (let key in errors) {
                                    if (errors.hasOwnProperty(key)) {
                                        let errorItem = `<div class="alert alert-danger">
                                                            <strong>
                                                                ${key} - ${errors[key]} 
                                                            </strong>
                                                        </div>`; 
                                         // append error to error list
                                         $('.enroll-validation-error').append(errorItem)
                                         console.log('#courseDetails' + event.target.value + ' > ' + '.enroll-validation-error')
                                    }
                                }
                                setTimeout(function(){
                                    $('.enroll-validation-error').fadeOut().empty()
                                }, 5000);
                                
                            }
                        }
                    });
                });
            });
        </script>
    {% endblock %}

</body>
</html>