{% extends 'base.html' %}
{% load mathfilters %}
{% load i18n %}
{% load static %}
{% block content %}

<section id="bc" class="mt-4">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-light">
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'index'%}">{% trans "Home"%}</a></li>
                <li class="breadcrumb-item"><a class="text-muted" href="{% url 'courses'%}">{% trans "Kurssit"%}</a></li>
            </ol>
        </nav>
    </div>
</section>

<div class="container pb-5 mb-5">
    
        {% for course in courses %}
            {% if course.is_published %}
                <div id="courses-card" class="card card-body mt-3 bg-gradient-light shadow-sm p-4 mb-4 bg-white">
                    <div class="row">
                        <!-- image -->
                        {% if course.course_image %}
                            <div class="col-md-3">
                                <img class="d-block w-100 mx-auto img-fluid rounded" src="{{course.course_image.url}}" alt="Course image">
                            </div>
                        {% endif %}
                        <!-- description --> 
                        <div class="col-md-7">
                            <h4 class="card-title">{{ course.title}}</h4>
                            <p class="card-text">{{ course.short_description}}</p>
                                <p class="text-muted">
                                    <span class="badge badge-info">
                                        {% trans "Alkaa" %} {{ course.course_start|date:"SHORT_DATE_FORMAT"}} - {% trans "Lopuu" %} {{ course.course_end|date:"SHORT_DATE_FORMAT"}} 
                                    </span>
                                </p>
                                <small class="text-muted">
                                    Duration: {{ course.course_duration}} {% trans 'pv'%}
                                </small>
                            </p>
                        </div>
                        <!-- price --> 
                        <div class="col-md-2 text-center align-center">
                            <div class="d-flex flex-column bd-highlight">
                                <div class="p-1 bd-highlight">
                                    <h5 class="text-orange font-weight-bold"><i class="fas fa-euro-sign"></i>{{ course.course_price}}</h5>        
                                </div>
                                <div class="p-1 bd-highlight">
                                    <a class="btn btn-outline-secondary btn-block" data-toggle="collapse" href="#enrollCollapse{{ course.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {% trans "Lisätietoja"%}
                                    </a>
                                </div>
                                <div class="p-1 bd-highlight">
                                        <a href="{% url 'courses' %}" data-toggle="modal" data-target="#courseDetails{{course.id}}" class="btn btn-outline-secondary btn-block">{% trans "Ilmoittaudu"%}</a>    
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="collapse p-4" id="enrollCollapse{{ course.id }}">
                            <div class="text-justify">
                                {{ course.full_description | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Modal  -->
                <div class="modal fade" id="courseDetails{{course.id}}" tabindex="-1" role="dialog" aria-labelledby="courseLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">  
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="courseLabel">
                                    Ilmoittaudu: {{ course.title}}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body p-4 ">
                                <div class="d-flex justify-content-center enroll-validation-error">
                                </div>
                                <form class="p-2" method="POST" id="enroll-form{{course.id}}"> 
                                    {% csrf_token %}
                                    <!-- first name  -->
                                    <label for="id_first_name">{% trans 'Etunimi'%} *</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="firstNamePrepend">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        </div>
                                            {{form.first_name}}
                                    </div>
                                    <!-- last name  -->
                                    <label for="id_last_name">{% trans 'Sukunimi'%} *</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="lastNamePrepend">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        </div>
                                            {{form.last_name}}
                                    </div>
                                    <!-- email  -->
                                    <label for="id_email">{% trans 'Sähköposti'%} *</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="emailPrepend">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                        </div>
                                            {{form.email}} 
                                    </div>
                                    <!-- phone number  -->
                                    <label for="id_email">{% trans 'Puhelin'%} *</label>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="emailPrepend">
                                                <i class="far fa-envelope"></i>
                                            </span>
                                        </div>
                                            {{form.phone_number}}
                                    </div>
                                    <div class="input-group mb-2">
                                        <button id="send-form" value="{{ course.id }}" type="button" class="btn btn-outline-secondary btn-block send-form">{% trans "Ilmoittaudu"%}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
</div> <!-- end container -->



{% endblock content %}